img {
  width: 300px;
  height: auto;
}

body {
  margin: 0;
  background: linear-gradient(to bottom right, #fddde6, #ffe6f0);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

}

.h1-image {
  display: block;
  margin: 20px auto 0 auto;
  width: 550px;
}

/* #fullCar,
#halfCar {
  display: block;
  margin: 20px auto;
  width: 550px;
  height: auto;
} */

.popup-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: #fff;
  border: 2px solid hotpink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;

}

.popup-header {
  background: hotpink;
  color: white;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popup-body {
  padding: 15px;
}

#infoButton {
  background-color: hotpink;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 40px;
  /* adds space to the right of this button */
  float: right;
  margin-top: 40px;
  cursor: pointer;
}

#backButton {
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 20px;
  margin-top: 40px;
  float: right;
}

.image-container {
  position: relative;
  width: 550px;
  margin: 20px auto;
}

.full-car {
  width: 100%;
  height: auto;
  display: block;
}

.barbie-wheels {
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%; /* Or set specific width */
  pointer-events: none; /* Prevents it from blocking clicks if needed */
}
