img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: linear-gradient(to bottom right, #fddde6, #ffe6f0);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

}

.h1-image {
  display: block;
  margin: 20px auto 0 auto;
  width: 550px;
}

.popup-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: #fff;
  border: 2px solid hotpink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;

}

.popup-header {
  background: hotpink;
  color: white;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popup-body {
  padding: 15px;
}

#infoButton {
  background-color: hotpink;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 40px;
  /* adds space to the right of this button */
  float: right;
  margin-top: -10px;
  cursor: pointer;
}

#backButton {
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 20px;
  margin-top: -10px;
  float: right;
}

.image-container {
  position: relative;
  width: 550px;
  margin: 20px auto;
}

#fullCar {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

#frontWheel {
  position: absolute;
  top: 196px;
  left: 60px;
  width: 115px;
  z-index: 3;
}

#rearWheel {
  position: absolute;
  top: 196px;
  left: 390px;
  width: 115px;
  z-index: 2;
}

#engine {
  position: absolute;
  top: 145px;
  left: 80px;
  width: 288px;
  z-index: 2;
}

#windshield {
  position: absolute;
  top: 66px;
  left: 179px;
  width: 115px;
  z-index: 2;
}

#tailLight {
  position: absolute;
  top: 143px;
  left: 497px;
  width: 36px;
  z-index: 2;
}

#sideMirror {
  position: absolute;
  top: 125px;
  left: 208px;
  width: 50px;
  z-index: 3;
}

#seat {
  position: absolute;
  top: 82px;
  left: 268px;
  width: 138px;
  z-index: 3;
}

#tailLight {
  position: absolute;
  top: 143px;
  left: 497px;
  width: 36px;
  z-index: 2;
}

#headLight {
  position: absolute;
  top: 168px;
  left: 36px;
  width: 49px;
  z-index: 3;
}

#allInfo {
  background: rgb(255, 202, 229);
  border: 3px solid hotpink;
  color: rgb(70, 22, 22);
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 400px;
  height: 50px;
  overflow: hidden;
  margin: -20px auto;
  text-align: center;
}

#allInfo p {
  margin: -4px 0;
  font-size: 14px;
  text-align: left;
}

#ken {
  position: absolute;
  top: 143px;
  left: 1025px;
  width: 150px;
  z-index: 2;
}

#barbie {
  position: absolute;
  top: 149px;
  left: 100px;
  width: 148px;
  z-index: 2;
}

.car-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  /* optional, lets user interact with content above */
  z-index: 9999;
}

.moving-image {
  position: absolute;
  bottom: -30px;
  height: 100px;
  width: 100px;
  animation: moveRight 6s linear infinite;
}

@keyframes moveRight {
  0% {
    left: -200px;
  }

  100% {
    left: 100%;
  }
}

#car {
  transform: scaleX(-1);
}